# Archivos de sistema
Thumbs.db
.DS_Store

# Archivos temporales y de logs
*.log
*.tmp
*.bak

# Configuración de IDEs y editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de entorno
.env

# Bases de datos locales y backups
*.sqlite
*.sql
*.db
*.bak

# Archivos comprimidos y empaquetados
*.zip
*.tar.gz
*.tar
*.rar

# Dependencias de Node.js
node_modules/

# Dependencias de Composer (si usas PHP moderno)
vendor/

# Otros
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de cache
.cache/ 